$bright-blue: #1989ff;
$dark-blue: #095fae;

$dark-grey: darken(#d0d0d0, 5%);
$darker-grey: #343638;
$lighter-grey: #f5f5f5;

$collections-green: #6ea734;
$follow-green: #6ea734;
$follow-hover-green: #007100;
$unfollow-red: #c93811;
