@import "reset";
@import "colors";
$icons: sprite-map("icons/*.png");

@import "compass/css3";
@import "compass/typography";

@mixin sprite-replace-text ($sprite, $img-name){
	@include hide-text;
	background: sprite($sprite, $img-name) no-repeat;
	display: inline-block;
	width: image-width(sprite-file($sprite, $img-name));
	height: image-height(sprite-file($sprite, $img-name));
}

* {
	@include box-sizing(border-box);
	margin: 0;
	padding: 0;
}

body {
  background-color: $lighter-grey;
  color: $darker-grey;
	font-family: Arial, sans-serif;
	font-size: 62.5%;
	margin: 0 auto;
	width: 342px;
}

a {
	cursor: pointer;
	text-decoration: none;

	&:link,
	&:visited {
		color: $bright-blue;
	}

	&:hover,
	&:active {
		color: $dark-blue;
	}
}

h1 {
	margin-bottom: 5px;
}

#loading-screen {
  background-color: #f5f5f5;
	color: white;
  cursor: wait;
	display: none;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: -1000;

	&.show {
		background-color: black;
		display: block;
		padding-top: 50px;
		text-align: center;
		z-index: 1000;
	}

	img {
		vertical-align: middle;
		margin-right: 1em;
	}
}

header,
#content {
	font-size: 1.4em;
	padding: 10px;
}

header {
	padding-bottom: 0;
	text-align: center;
}

#logo {
	margin-bottom: 1em;
}

#content {
	min-height: 100px;
	padding-top: 0;
	position: relative;
	width: 100%;
}

#error {
	background-color: gray;
	color: white;
	height: 0;
	max-height: 400px;
	overflow: hidden;
	text-align: center;
	text-transform: uppercase;
	-webkit-transition: all 0.25s ease-out;
}

#sign-in input {
	display: block;
	margin: 0;
	padding: 3px;
	width: 100%;

	&[type=text],
	&[type=password] {
		border: 1px solid #aaa;
	}

	&[type=password] {
		border-top-width: 0;
	}

	&[type=submit] {
		border: none;
		background-color: $bright-blue;
		color: white;
		margin-top: 1em;

		&:hover,
		&:focus {
			background-color: $dark-blue;
			outline: 0;
		}
	}
}

nav {
	margin-bottom: 10px;
	font-size: 0.75em;

	li {
		background-color: $box-bg;
		border: 1px solid #ddd;
		display: inline-block;
		width: 20%;

		+ li:not(:nth-child(6)) {
			border-left: none;
		}

		&:nth-child(n + 6) {
			border-top: none;
		}

		a {
			display: block;
			padding: 4px 0;
			text-align: center;

			&:link,
			&:visited {
				color: $darker-grey;
			}

			&:hover {
				color: $dark-blue;
			}

			&.active {
				background-color: $dark-blue;
				color: white;

				&:hover {
					cursor: default;
				}
			}
		}
	}
}

.profile-image {
	@include border-radius(26px);
	border: 2px solid #fff;
	height: 50px;
	overflow: hidden;
	width: 50px;
}

.user-card {
  padding: 0 0 10px;

	.profile-image {
		left: 20px;
		position: absolute;
		top: 50px;
	}

	.logout {
		background-color: $box-bg;
		display: inline-block;
		padding: 2px 5px;
		position: absolute;
		right: 0;
		top: 0;
	}

	.cover_image {
		background-position: 0 50%;
		background-size: cover;
		height: 83px;
		width: 100%;
	}

	.about {
		color: $dark-grey;
		font-size: 0.9em;
		margin: 5px 0 5px 75px;
	}

	.username {
		color: black;
		font-size: 1.2em;
	}

	.location {
		&:before {
			@include sprite-replace-text($icons, 'map-marker');
			content: '';
			margin: 2px 2px 0 0;
			@include opacity(0.5);
			position: relative;
			top: 3px;
		}
	}
}

.box {
  @include box-shadow(0px 1px 1px rgba(0,0,0,0.25));
  background-color: $box-bg;
  border: 1px solid $border-grey;
	overflow: hidden;
	position: relative;

	+ .box {
		border-top-width: 0;
	}
}

.thing,
.collection,
.event {
	font-size: 0.8em;
	height: 75px;
}

.thing,
.collection,
.event {
	.details {
		overflow: hidden;
		padding: 5px 85px 5px 75px;
		width: 100%;

		.creator {
			position: absolute;
			bottom: 0;
			left: 0;
			padding: 0 0 5px 75px;
		}

		.thumbnail {
			position: absolute;;
			top: 0;
			right: 0;
			width: 75px;
		}
	}

	.profile-image {
		@include border-radius(31px);
		height: 60px;
		left: 6px;
		position: absolute;
		top: 6px;
		width: 60px;
	}
}

.collections {
	.thumbnail {
		width: 75px;

		&.shift-1 {
			right: -20px;
		}

		&.shift-2 {
			right: -40px;
		}	

		&.shift-3 {
			right: -60px;
		}	
	}
}

.event {
	.details {
		height: 75px;
		padding: 5px 85px 5px 35px;
		position: absolute;
		top: 0;

		time {
			display: block;
			font-size: 0.9em;
		}
	}

	// Set up our icons
	$event_types: publish make feature like follow;

	@each $event_type in $event_types {
		&.#{$event_type} {
			.icon {
				@include sprite-replace-text($icons, $event_type);
				margin: 10px;
			}
		}
	}
}
