<!doctype html>
<html lang="en">
	<head>
		<title>Thingiverse</title>
		<link rel="stylesheet" href="css/extension.css">
		<script data-main="js/main.js" src="js/require.js"></script>
		<script id="login-template" type="text/template">
			<form id="sign-in">
				<input type="text" id="username" placeholder="username">
				<input type="password" id="password" placeholder="password">
				<input type="submit" value="LOG IN">
			</form>
		</script>
		<script id="nav-template" type="text/template">
			<nav><ul>
				<% _.each(items, function(item) { %><li><a href="#" class="<%= item.class + ((item.class == active)? ' active': '') %>"><%= item.label %></a></li><% }); %>
			</ul></nav>
		</script>
		<script id="profile-template" type="text/template">
			<%= nav %>
			<div class="user-card">
				<a href="#" class="logout"> X </a>
				<img class="cover_image" src="<% if (user.display_small) { %><%= user.display_small %><% } else { %><%= '/images/default/user_cover_00.jpg' %><% } %>" alt="cover image">
				<div class="profile-image"><img src="<%= user.thumbnail %>"></div>
				<div class="about">
					<h2 class="username"><%= user.name %></h2>
					<span class="location"><%= user.location %></span>
				</div>
			</div>
		</script>
		<script id="things-template" type="text/template">
			<%= nav %>
			<div class="things">
				<% if (!things.length) { %><p>Sorry, you have no designs!</p><% } %>
				<% if (typeof header !== 'undefined' && header) { %><h1><%= header %></h1><% } %>
				<% _.each(things, function(thing) { %>
				<div class="thing" data-thing-id="<%= thing.id %>">
					<% if (thing.creator) { %>
					<a class="profile-image" href="<%= thing.creator.public_url %>"><img src="<%= thing.creator.thumbnail %>" alt="<%= thing.creator.name %>"></a>
					<% } else { %>
					<div class="profile-image">"><img src="/images/default/avatar.jpg" alt="Unknown"></a>
					<% } %>
					<div class="details">
						<span class="name"><%= thing.name %></span>
						<% if (thing.creator) { %>
						<span class="creator">by <a href="<%= thing.creator.public_url %>"><%= thing.creator.name %></a></span>
						<% } %>
						<a class="thumbnail" href="<%= thing.public_url %>"><img src="<%= thing.thumbnail %>"></a>
					</div>
				</div>
				<% }); %>
			</div>
		</script>
		<script id="collections-template" type="text/template">
			<%= nav %>
			<div class="collections">
				<% if (!collections.length) { %><p>Sorry, you have no collections!</p><% } %>
				<% _.each(collections, function(collection) { %>
				<div class="collection" data-collection-id="<%= collection.id %>">
					<% if (collection.creator) { %>
					<a class="profile-image" href="<%= collection.creator.public_url %>"><img src="<%= collection.creator.thumbnail %>" alt="<%= collection.creator.name %>"></a>
					<% } else { %>
					<div class="profile-image">"><img src="/images/default/avatar.jpg" alt="Unknown"></a>
					<% } %>
					<div class="details">
						<span class="name"><%= collection.name %></span>
						<span class="creator">by <a href="<%= collection.creator.public_url %>"><%= collection.creator.name %></a></span>
						<a class="thumbnail" href="<%= collection.public_url %>"><img src="<%= collection.thumbnail %>"></a>
						<% for (var i = 1; i < 3; i++) { if (collection['thumbnail_' + i]) { %>
						<img class="thumbnail shift-<%= i %>" src="<%= collection['thumbnail_' + i] %>">
						<% }} %>
					</div>
				</div>
				<% }); %>
			</div>
		</script>
		<script id="dashboard-template" type="text/template">
			<%= nav %>
			<% if (!dashboard || !dashboard.length) { %><p>Sorry, your dashboard is empty!</p><% } %>
			<div class="dashboard">
				<% _.each(dashboard, function(event) { %>
				<div class="event">
					A dashboard event
				</div>
				<% }); %>
			</div>
		</script>
	</head>
	<body>
		<div id="loading-screen"><img src="images/loading.gif" alt="Loading" width="50" height="50"></div>
		<header>
			<img id="logo" src="images/thingiverse-logo.png" alt="Thingiverse">
			<p class="error none"></p>
		</header>
		<section id="content"></section>
</html>
