<!doctype html>
<html lang="en">
	<head>
		<title>Thingiverse</title>
		<link rel="stylesheet" href="css/extension.css">
		<script data-main="js/main.js" src="js/require.js"></script>
		<script id="profile-template" type="text/template">
			<nav><ul>
				<li><a href="#" class="profile">Me</a></li><li><a href="#" class="dashboard">Dashboard</a></li><li><a href="#" class="designs">Designs</a></li><li><a href="#" class="collections">Collections</a></li><li><a href="#" class="likes">Likes</a></li>
			</ul></nav>
			<div class="user-card">
				<img class="cover_image" src="<% if (cover_image.sizes[0].url.slice(-1) == "/") { %><%= '/images/default/user_cover_00.jpg' %><% } else { %><%= cover_image.sizes[0].url %><% } %>" alt="cover image">
				<div class="profile-img-wrapper"><img class="avatar" src="<%= thumbnail %>"></div>
				<div class="about">
					<h2 class="username"><%= name %></h2>
					<span class="location"><%= location %></span>
				</div>
			</div>
		</script>
		<script id="things-template" type="text/template">
			<nav><ul>
				<li><a href="#" class="profile">Me</a></li><li><a href="#" class="dashboard">Dashboard</a></li><li><a href="#" class="designs">Designs</a></li><li><a href="#" class="collections">Collections</a></li><li><a href="#" class="likes">Likes</a></li>
			</ul></nav>
			<div class="things">
				<% if (!things.length) { %><p>Sorry, you have no designs!</p><% } %>
				<% _.each(things, function(thing) { %>
					<div class="thing thing-interaction-parent" data-thing-id="<%= thing.id %>" title="Pocket-Tactics: Saga of the Nine Worlds Core Set">
					<div class="row-fluid">
						<a href="/thing:191646" class="thing-img-wrapper"><img class="thing-img" src="http://thingiverse-production.s3.amazonaws.com/renders/61/77/f3/50/6e/Menvsbrood_preview_card.jpg"></a>
						<div class="thing-about">
							<div class="profile-pic">
								<div class="profile-img-wrapper"><a href="http://www.thingiverse.com/dutchmogul"><img src="http://thingiverse-production.s3.amazonaws.com/renders/25/8b/a7/2f/17/Pete_thumb_tiny.jpg" alt="" class="render"></a></div> 
							</div>
							<span class="thing-who-what">
								<span class="thing-made">
									<span class="thing-name">Pocket-Tactics: Saga of the Nine Worlds Core Set</span>
									<span class="creator-name">by <a href="http://www.thingiverse.com/dutchmogul">dutchmogul</a></span>
								</span>						
							</span>
							<span class="thing-pub-time">11 hrs ago</span>
						</div>
						<div class="thing-interact">
							<span class="thing-like " title="Like this Thing"><span class="interaction-count">10</span></span>
							<span class="thing-collect " title="Collect this Thing"><span class="interaction-count collection-count">4</span></span>
							<a href="/thing:191646/#comments" class="thing-comment" title="View Comments"><span class="interaction-count comment-count">2</span></a>
						</div>
					</div>
				</div>
				<% }); %>
			</div>
		</script>
		<script id="collections-template" type="text/template">
			<nav><ul>
				<li><a href="#" class="profile">Me</a></li><li><a href="#" class="dashboard">Dashboard</a></li><li><a href="#" class="designs">Designs</a></li><li><a href="#" class="collections">Collections</a></li><li><a href="#" class="likes">Likes</a></li>
			</ul></nav>
			<% if (!collections.length) { %><p>Sorry, you have no collections!</p><% } %>
			<div class="collections">
				<% _.each(collections, function(collection) { %>
				<div class="collection">
					A collection
				</div>
				<% }); %>
			</div>
		</script>
		<script id="dashboard-template" type="text/template">
			<nav><ul>
				<li><a href="#" class="profile">Me</a></li><li><a href="#" class="dashboard">Dashboard</a></li><li><a href="#" class="designs">Designs</a></li><li><a href="#" class="collections">Collections</a></li><li><a href="#" class="likes">Likes</a></li>
			</ul></nav>
			<% if (!dashboard.length) { %><p>Sorry, your dashboard is empty!</p><% } %>
			<div class="dashboard">
				<% _.each(dashboard, function(event) { %>
				<div class="event">
					A dashboard event
				</div>
				<% }); %>
			</div>
		</script>
	</head>
	<body>
		<div id="loading-screen"><img src="images/loading.gif" alt="Loading" width="50" height="50"></div>
		<header>
			<img id="logo" src="images/thingiverse-logo.png" alt="Thingiverse">
			<p class="error none"></p>
		</header>
		<section id="content">
			<form id="sign-in">
				<input type="text" id="username" placeholder="username">
				<input type="password" id="password" placeholder="password">
				<input type="submit" value="LOG IN">
			</form>
		</section>
	</body>
</html>
